---
import CardSocial from './CardSocial.astro';
import { getCollection } from 'astro:content';

const socials = await getCollection('social');
---

<main>
    <header>
        <div class="container">
            <h1>Social Media Dashboard</h1>
            <p>Total Followers: 23,004</p>
            <hr />
            <div class="flex">
                <p>Dark Mode</p>
                <div class="toggle">
                    <input type="checkbox" name="check" id="check" />
                    <label for="check"></label>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        {socials.map((social) => <CardSocial social={social} />)}
    </div>
</main>

<style>
    main {
        color: white;
        background-color: var(--very-dark-blue);
        min-height: 100vh;
    }

    header {
        background-color: var(--very-dark-blue-2);
        padding: 2rem 0 5rem;
        margin-bottom: -2rem;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    h1 {
        font-size: clamp(1.5rem, 5vw, 4rem);
        margin-bottom: 0.3rem;
    }

    p {
        font-weight: 700;
        color: var(--desaturated-blue);
    }

    hr {
        margin-block: 1rem;
        border: 0;
        border-bottom: 1px solid var(--desaturated-blue);
        opacity: 0.3;
    }

    input[type='checkbox'] {
        opacity: 0;
        position: absolute;
        top: -1000px;
        right: -1000px;
    }

    label[for='check'] {
        display: block;
        width: 40px;
        height: 20px;
        border-radius: 20px;
        background: linear-gradient(
            to right,
            hsl(210, 78%, 56%) 5%,
            hsl(146, 68%, 55%)
        );
        position: relative;
    }

    label[for='check']::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 2px;
        margin-block: auto;
        width: 16px;
        height: 16px;
        background-color: var(--very-dark-blue);
        border-radius: 50%;
    }

    input[type='checkbox']:checked + label {
        background: var(--dark-grayish-blue);
    }

    input[type='checkbox']:checked + label::before {
        left: auto;
        right: 2px;
        background-color: white;
    }
</style>
